@model Product
@{
    ViewData["Title"] = "Delete";
}




<div class="container my-5">
    <span class="text-danger">@ViewBag.error </span>

   
        <div class="form-group">
            <label class="my-2">Name</label>
            <input class="form-control" disabled id="customFile" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label class="my-2">Description</label>
            <input class="form-control" disabled id="description-text" value="@ViewBag.desc"></input>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label class="my-2">Price</label>
            <input type="text" disabled class="form-control" id="customFile" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label class="my-2">Count</label>
            <input class="form-control" disabled id="customFile" asp-for="Count" />
            <span class="text-danger" asp-validation-for="Count"></span>
        </div>
        <div class="form-group">
            <label class="my-2">Category</label>                             
            <input class="form-control" disabled id="customFile" asp-for="Category.Name" />
        </div>
        <div class="form-group">
            @foreach (var item in Model.Images)
            {
                <img src="~/img/@item.Image" style="width:150px;height:150px;" />
            }
       
        </div>

        <div class="form-group">
         
            <h4 class="text-danger">Are you sure to delete product ? </h4>

        </div>



   


     <form  asp-action="Delete" method="post" >


        <div class="form-group">

            <div class="button my-3">
                <button type="submit" class="btn btn-primary mr-2">Delete</button>
                <a class="btn btn-light" asp-action="Index">Cancel</a>
            </div>
        </div>

    </form>
</div>


